<!DOCTYPE html>
<html>
  <head>
    <title>TimeTruckerApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/63389681e0.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <header
        class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm"
      >
        <p class="h5 my-0 mr-md-auto font-weight-normal">Study Time Trucker</p>
        <nav class="my-2 my-md-0 mr-md-3">
          <a class="mr-1 p-2 text-dark btn btn-warning" href=""
            >学習時間</a
          >
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'mr-1 p-2 text-dark btn btn-info' %>
          <a class="btn btn-outline-primary" href=""
            >ユーザー情報編集</a
          >
        </nav>
      </header>
    <% else %>
      <header
        class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 bg-white border-bottom shadow-sm"
      >
        <p class="h5 my-0 mr-md-auto font-weight-normal">Study Time Trucker</p>
      </header>
    <% end %>
    <%= yield %>
    <footer class="mt-2">
      <nav class="navbar navbar-expand-lg navbar-light bg-white sticky-top">
        <div class="container-fluid mx-0">
          <div class="ml-auto font-weight-normal">
            I never worry about action, but only inaction.
          </div>
        </div>
      </nav>
    </footer>
  </body>
</html>
